@media screen and (min-width: 750px) and (max-width: 1080px) {
    body {
        font-size: 13px;
    }
    .conteudo-principal {
        flex-direction: column-reverse;
        text-align: center;
    }
    .about-us-title {
        text-align: center;
        font-size: 1rem;
    }
    .about-us-content p {
        width: 80%;
        font-size: 1rem;
    }
    .skills-figure figcaption {
        font-size: 1rem;
    }
    .redes-social {
        display: flex;
        flex-direction: column;
    }
    .redes-social-icon {
        margin: .3rem 0;
    }
    .contact {
        width: 45rem;
    }
    .contact-title {
        font-size: 2rem;
        margin-left: 1rem;
    }
}